<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package allowedVersions="[8.0.0, 8.0.0]" id="Microsoft.Bcl.AsyncInterfaces" targetFramework="net472" version="8.0.0" />
  <package allowedVersions="[13.0.3, 13.0.3]" id="Newtonsoft.Json" targetFramework="net472" version="13.0.3" />
  <package allowedVersions="[4.1.0, 4.1.0]" id="NUnit" targetFramework="net472" version="4.1.0" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp" targetFramework="net472" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Aggregation" targetFramework="net472" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Aggregation.Redist" targetFramework="net472" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Common" targetFramework="net472" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Common.Redist" targetFramework="net472" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Model" targetFramework="net472" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Model.Redist" targetFramework="net472" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Threading" targetFramework="net472" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Threading.Redist" targetFramework="net472" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Redist" targetFramework="net472" version="2023.0.8" />
  <package allowedVersions="[110.2.0, 110.2.0]" id="RestSharp" targetFramework="net472" version="110.2.0" />
  <package id="StrongNamer" targetFramework="net472" version="0.2.5" />
  <package id="System.Buffers" targetFramework="net472" version="4.5.1" />
  <package id="System.Memory" targetFramework="net472" version="4.5.5" />
  <package id="System.Numerics.Vectors" targetFramework="net472" version="4.5.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" targetFramework="net472" version="8.0.0" />
  <package allowedVersions="[8.0.3, 8.0.3]" id="System.Text.Json" targetFramework="net472" version="8.0.3" />
  <package id="System.Threading.Tasks.Extensions" targetFramework="net472" version="4.5.4" />
  <package id="System.ValueTuple" targetFramework="net472" version="4.5.0" />
</packages>