<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" targetFramework="net472" version="7.0.0" />
  <package id="Newtonsoft.Json" targetFramework="net472" version="13.0.3" />
  <package id="NUnit" targetFramework="net472" version="4.0.1" />
  <package allowedVersions="[2024.0.5, 2024.0.5]" id="PostSharp" targetFramework="net472" version="2024.0.5" />
  <package allowedVersions="[2024.0.5, 2024.0.5]" id="PostSharp.Patterns.Aggregation" targetFramework="net472" version="2024.0.5" />
  <package allowedVersions="[2024.0.5, 2024.0.5]" id="PostSharp.Patterns.Aggregation.Redist" targetFramework="net472" version="2024.0.5" />
  <package allowedVersions="[2024.0.5, 2024.0.5]" id="PostSharp.Patterns.Common" targetFramework="net472" version="2024.0.5" />
  <package allowedVersions="[2024.0.5, 2024.0.5]" id="PostSharp.Patterns.Common.Redist" targetFramework="net472" version="2024.0.5" />
  <package allowedVersions="[2024.0.5, 2024.0.5]" id="PostSharp.Patterns.Model" targetFramework="net472" version="2024.0.5" />
  <package allowedVersions="[2024.0.5, 2024.0.5]" id="PostSharp.Patterns.Model.Redist" targetFramework="net472" version="2024.0.5" />
  <package allowedVersions="[2024.0.5, 2024.0.5]" id="PostSharp.Patterns.Threading" targetFramework="net472" version="2024.0.5" />
  <package allowedVersions="[2024.0.5, 2024.0.5]" id="PostSharp.Patterns.Threading.Redist" targetFramework="net472" version="2024.0.5" />
  <package allowedVersions="[2024.0.5, 2024.0.5]" id="PostSharp.Redist" targetFramework="net472" version="2024.0.5" />
  <package id="RestSharp" targetFramework="net472" version="109.0.1" />
  <package id="StrongNamer" targetFramework="net472" version="0.2.5" />
  <package id="System.Buffers" targetFramework="net472" version="4.5.1" />
  <package id="System.Memory" targetFramework="net472" version="4.5.5" />
  <package id="System.Numerics.Vectors" targetFramework="net472" version="4.5.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" targetFramework="net472" version="6.0.0" />
  <package id="System.Text.Encodings.Web" targetFramework="net472" version="7.0.0" />
  <package id="System.Text.Json" targetFramework="net472" version="7.0.2" />
  <package id="System.Threading.Tasks.Extensions" targetFramework="net472" version="4.5.4" />
  <package id="System.ValueTuple" targetFramework="net472" version="4.5.0" />
</packages>