<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <package id="Microsoft.Bcl.AsyncInterfaces" targetFramework="net472" version="7.0.0" />
  <package id="Newtonsoft.Json" targetFramework="net472" version="13.0.3" />
  <package id="NUnit" targetFramework="net472" version="3.13.3" />
  <package id="RestSharp" targetFramework="net472" version="109.0.1" />
  <package id="System.Buffers" targetFramework="net472" version="4.5.1" />
  <package id="System.Memory" targetFramework="net472" version="4.5.5" />
  <package id="System.Numerics.Vectors" targetFramework="net472" version="4.5.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" targetFramework="net472" version="6.0.0" />
  <package id="System.Text.Encodings.Web" targetFramework="net472" version="7.0.0" />
  <package id="System.Text.Json" targetFramework="net472" version="7.0.2" />
  <package id="System.Threading.Tasks.Extensions" targetFramework="net472" version="4.5.4" />
  <package id="System.ValueTuple" targetFramework="net472" version="4.5.0" />
</packages>