<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package developmentDependency="true" id="Costura.Fody" targetFramework="net472" version="5.7.0" />
  <package developmentDependency="true" id="Fody" targetFramework="net472" version="6.8.0" />
  <package id="log4net" targetFramework="net472" version="2.0.15" />
  <package id="Microsoft.Bcl.AsyncInterfaces" targetFramework="net472" version="7.0.0" />
  <package id="Microsoft.NETCore.Platforms" targetFramework="net472" version="7.0.4" />
  <package id="NETStandard.Library" targetFramework="net472" version="2.0.3" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="PostSharp" version="2023.0.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation" version="2023.0.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="2023.0.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common" version="2023.0.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="2023.0.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Threading" version="2023.0.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Threading.Redist" version="2023.0.8" targetFramework="net472" />
  <package id="PostSharp.Redist" version="2023.0.8" targetFramework="net472" />
  <package id="RestSharp" targetFramework="net472" version="110.2.0" />
  <package id="SharpZipLib" targetFramework="net472" version="1.4.2" />
  <package id="System.Buffers" targetFramework="net472" version="4.5.1" />
  <package id="System.Memory" targetFramework="net472" version="4.5.5" />
  <package id="System.Numerics.Vectors" targetFramework="net472" version="4.5.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" targetFramework="net472" version="6.0.0" />
  <package id="System.Text.Encodings.Web" targetFramework="net472" version="7.0.0" />
  <package id="System.Text.Json" targetFramework="net472" version="7.0.3" />
  <package id="System.Threading.Tasks.Extensions" targetFramework="net472" version="4.5.4" />
  <package id="System.ValueTuple" targetFramework="net472" version="4.5.0" />
  <package id="Tavis.UriTemplates" targetFramework="net472" version="2.0.0" />
</packages>